* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #fc2828;
  color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("bg5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.menu-nav li {
  margin-top: 10px;
}

.menu-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: ease-in-out;
}

.menu-nav a:hover {
  color: black;
}

.logo_text {
  color: red;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  align-items: center;
  background: url('hero1.jpeg');
  background-attachment: fixed;
}

.stacked-text {
  line-height: 1.2em;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.stacked-text span {
  display: block;
}

.p1 {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  background: #ff0000a2;
  font-weight: 500;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: #00000000;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
.body{
  background: #000;
}

  .menu-nav ul {
    gap: 50px;
  }

  .menu-nav a {
    font-size: 18px;
  }

  .stacked-text {
    font-size: 30px;
    margin-right: 100px;
    margin-bottom: 250px;
  }

  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .p1 {
    font-size: 30px;
    padding: 20px;
    max-width: 100%;
  }

  .p2{
    width: 100%;
  }

  .btn {
    font-size: 16px;
    padding: 15px 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {

  .body{
    background: #000;
  }

  /* CSS rules for screens with a minimum width of 1024px */
  .menu-nav ul {
    justify-content: space-between;
  }

  .menu-nav li {
    margin-top: 0;
  }

  .logo_text {
    font-size: 24px;
  }

  .hero {
    background-size: cover;
    background-position: center;
  }

  .stacked-text {
    margin-right: 0;
    margin-bottom: 50px;
    font-size: 28px;
  }

  .p1 {
    font-size: 36px;
  }

  .btn {
    font-size: 18px;
    padding: 20px;
  }
}


.btn:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
}

.info {
  width: 100%;
  background-color: #ff0000;
  margin-top: 200px;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .logo-nav {
    width: 40%;
    margin-top: 20px;
  }

  nav {
    width: 70%;
  }

  .p1 {
    font-size: 30px;
    padding: 20px;
  }

  .btn {
    font-size: 12px;
    padding: 10px;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .logo-nav {
    width: 30%;
    margin-top: 30px;
  }

  nav {
    width: 60%;
  }

  .p1 {
    font-size: 40px;
    padding: 30px;
  }

  .btn {
    font-size: 14px;
    padding: 12px;
  }
}

/* Large screens */
@media only screen and (min-width: 961px) {
  .logo-nav {
    width: 20%;
    margin-top: 50px;
  }

  nav {
    width: 50%;
  }

  .p1 {
    font-size: 50px;
    padding: 50px;
  }

  .btn {
    font-size: 15px;
    padding: 15px;
  }
}

.p2 {
  margin-top: 550px;
  width: 50vw;
  background: red;
  color: white;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: none;
  overflow-y: visible;
}

.contact-item {
  flex-basis: 100%;

  text-align: center;
  margin: 20px 0;
  max-height: 200px;
  overflow-y: auto;
}

.contact-item i {
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.contact-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 14px;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .contact-item {
    flex-basis: calc(100% / 3);
    margin: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .contact-item {
    flex-basis: 100%;
    margin: 20px 0;
  }
}

.intro {
  /* background: url("bg2.jpg");
    background-attachment: fixed; */
  background-color: #00000000;
  width: 100%;
  display: flex;
  justify-content: start;
}

.c1 {
  background-color: #000;
}

.c2 {
  padding: 50px;
  color: white;
  background: #000000a2;
}

.c2>p {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 100;
}

@media only screen and (max-width: 767px) {

  .intro {
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .c1 {
    width: 50%;
    height: 300px;
  }

  .c2 {
    width: 100%;
    padding: 30px;
  }

  .c2 > p {
    margin-top: 30px;
    font-size: 16px;
  }

}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
}

.services-text {
  color: red;
}

.text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-text {
  text-align: center;
  font-size: 20px;
}

.services-text-content {
  text-align: center;
  color: gray;
  margin-top: 30px;
  max-width: 500px;
}

.text-part>h1 {
  color: white;
}

.icons-part {
  display: flex;
  justify-content: space-between;
}

.icon-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.icon {
  width: 22%;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
}

.icon-box {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 30%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
}

.icon:hover>.icon-box {
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-box i {
  font-size: 32px;
  color: #fff;
}

.icon>h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.icon>p {
  font-size: 16px;
  color: #6c757d;
  line-height: 24px;
}

/* Styles for devices with max-width 768px */

@media only screen and (max-width: 768px) {

  .icon-parent {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    width: 80%;
    margin-bottom: 30px;
  }

  .icon-box {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
  }

  .icon>h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .icon>p {
    font-size: 14px;
    line-height: 20px;
  }

}


.programs {
  display: flex;
}

.q1 {
  width: 50%;
  background: #000000a2;
  position: sticky;
  top: 0;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.q1 h4 {
  margin-top: 300px;
  color: #ff0000;
  font-size: 20px;
}

.q1 p {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  line-height: 25px;
}

.q1_element {
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: right;
}

.q2 {
  width: 50%;
  background: #ff0000a2;
}

.q2>hr {
  color: black;
}

.p_box {
  padding: 40px;
  text-align: center;
  display: flex;
}

.p_box:hover>.p_icon {
  transform: translateY(-10px);
}

.p_icon {
  font-size: 40px;
  color: #ff5e14;
  margin-bottom: 20px;
}

.p_title h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.p_desc p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
}

.counter {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #000;
}

.counter .count {
  display: inline-block;
  position: relative;
  animation-duration: 3s;
  animation-name: counter;
}

@keyframes counter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .programs {
    flex-direction: column;
    background: #000;
  }

  .q1,
  .q2 {
    width: 100%;
    height: auto;
  }

  .q1 {
    align-items: center;
    background: #000;
  }

  .q2 {
    background: #ff0000;
  }

  .q1 h4 {
    margin-top: 100px;
    font-size: 16px;
    text-align: center;
  }

  .q1 p {
    max-width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .q1_element {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .p_box {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
  }

  .p_icon {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .p_title h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .p_desc p {
    font-size: 16px;
  }

  .counter {
    font-size: 24px;
    padding: 20px;
  }

  .counter .count {
    display: inline-block;
    position: relative;
    animation-duration: 3s;
    animation-name: counter;
  }

  @keyframes counter {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}